.InputTodo {
}
.textbar {
  width: 300px;
  border-radius: 20px;
  height: 15px;
  border: 1px solid tomato;
}
.submitbutton {
  margin-left: 10px;
  height: 30px;
  width: 30px;

  border: 1px solid green;
  background-color: white;
  border-radius: 100%;
}
